<a href="https://colab.research.google.com/github/ChristopherThorne714/Winter-2022-JJay-TTP/blob/main/day_2_Collection_Data_Types.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Collection Data Types

Lists, Dictionaries, & Tuples

##Lists
* Lists can be thought of the most general version of a sequence in Python. Unlike strings, they are mutable, meaning the elements inside a list can be changed!

In [104]:
 # Assign a list to a variable named my_List
 my_List = [1,2,3]

In [105]:
my_List

[1, 2, 3]

In [106]:
my_List = ['A string', 23, 100.232, 'o']

In [107]:
len(my_List)

4

# Indexing and Slicing
Indexing and slicing

In [108]:
my_List = ['one', 'two', 'three', 4, 5]

In [109]:
#grab index 1 and everything past it
my_List[1:]

['two', 'three', 4, 5]

In [110]:
# Grab everything UP TO index 3 
my_List[:3]

['one', 'two', 'three']

In [111]:
my_List

['one', 'two', 'three', 4, 5]

In [112]:
# we can use + to concatenate lists, just like we did for strings.
my_List + ['new item']

['one', 'two', 'three', 4, 5, 'new item']

In [113]:
# Note: This doesn't actually change the original list!
my_List

['one', 'two', 'three', 4, 5]

In [114]:
#WWe would have to reassign the list to maake the change permanent. 
# Reassign
my_List = my_List + ['permanent new item']

In [115]:
my_List

['one', 'two', 'three', 4, 5, 'permanent new item']

In [116]:
my_List.append('something')

In [117]:
my_List

['one', 'two', 'three', 4, 5, 'permanent new item', 'something']

In [118]:
# Make the list double
my_List * 2

['one',
 'two',
 'three',
 4,
 5,
 'permanent new item',
 'something',
 'one',
 'two',
 'three',
 4,
 5,
 'permanent new item',
 'something']

In [119]:
num = [1,2,3,4,5,6]

In [120]:
num

[1, 2, 3, 4, 5, 6]

In [121]:
num[-1] = 9

In [122]:
num

[1, 2, 3, 4, 5, 9]

# Basic list methods

In [123]:
l = [1,2,3]

In [124]:
#append
l.append(4)

In [125]:
l

[1, 2, 3, 4]

In [126]:
l.pop(0)

1

In [127]:
l

[2, 3, 4]

In [128]:
len(l)

3

In [129]:
#Use pop to "pop off" an item from the list. By default the pop takes off the last index, but you caan specify which index to pop off
l.pop()

4

### The sort and reverse methods

In [130]:
new_list = ['a','e','x','b','c']
new_list

['a', 'e', 'x', 'b', 'c']

In [131]:
#use the reverse function to reverse the order of elements
new_list.reverse()

In [132]:
new_list

['c', 'b', 'x', 'e', 'a']

In [133]:
# USe sort to sort the List (in this case alphabetical order, but for numbers it will go ascending)
new_list.sort()

In [134]:
new_list.append(1)
new_list.append(2)

In [135]:
new_list

['a', 'b', 'c', 'e', 'x', 1, 2]

In [136]:
new_list.pop()

2

In [137]:
new_list.pop()

1

In [138]:
new_list

['a', 'b', 'c', 'e', 'x']

## Dictionaries Methods

In [139]:
# Make a dictionary with {} and : to signify aa key and a value
my_dict = {'key1':'value1', 'key2':'value2'}

In [140]:
# It's important to note that dictionaries are very flexible in the data types they can hold
my_dict = {'key1':123, 'key2':[12,33,43], 'key3':['item0','item1','item2']}

In [141]:
my_dict['key3']

['item0', 'item1', 'item2']

In [142]:
# Can call an index on that value
my_dict['key3'][0]

'item0'

In [143]:
# Can then even call methosd on that value
my_dict['key3'][0].upper()

'ITEM0'

In [144]:
my_dict['key1']

123

In [145]:
# Subtract 123 from the value
my_dict['key1'] = my_dict['key1'] - 123

In [146]:
my_dict

{'key1': 0, 'key2': [12, 33, 43], 'key3': ['item0', 'item1', 'item2']}

In [147]:
# we can also create keys by assignment. For instance if we started off with an empty dictionary, wwe can create a new dictionary
d = {}

In [148]:
d['animal'] = 'Dog'

In [149]:
d['answer'] = 42

In [150]:
d

{'animal': 'Dog', 'answer': 42}

In [151]:
# method to return a list of all keys
d.keys()

dict_keys(['animal', 'answer'])

In [152]:
# method to grab all the values
d.values()

dict_values(['Dog', 42])

# Tuples

*In Pytho9n tuples are very similar to lists, however, unlike lists they are immutable, meaning they can not be changed. You would use tuples to present things that shouldn't be changed, such as days of the week, or dates on a calendar

In [153]:
# Can create a tuple with mixed types
t = (1,2,3)

In [154]:
# Check len just like a liost
len(t)

3

In [161]:
# Can also mix object types
t = ('one', 2, 2)

# Show
t

('one', 2, 2)

In [162]:
# Use uindexing just like we did in lists
t[0]

'one'

In [163]:
# Slicing like in lists as well
t[-1]

2

## Tuple Methods

In [164]:
t.index('one')

0

In [165]:
# Use the count method to count the number of times a value appears
t.count('one')

1

In [166]:
t.count(2)

2

## Immutability
*It can't be stressed enough that tuples are immutable

In [169]:
# Trying to change a value throws an error because of the tuples immutability
#t[0] = 'change'

In [168]:
# Because of this, tuples can't grow. Once a tuple is made we can not add to it. 
#t.append('nope')